@import "normalize.css";
#page {
    position: relative;
    width: 100%;
    left: auto;
    right: auto;
    margin-top: 36px;
}
body {
    font: 14px/1.5 'Open sans', sans-serif;
    color: #113366;
    width: 100%;
    margin: 0 auto;
}
 .col-1 {
    width: 100%;
}


/** Desktop style*/
@media (min-width: 960px) {
    body {
        width: 960px;
    }

    header h1 {
        width: 300px;
        float: left;
        display: block;
    }

    header nav {
        width: 660px;
        height: auto;
        display: block;
    }

    header nav ul li {

        width: 150px;

    }

     section .col-3 {
         width: 310px;
         float: left;
         padding: 0px 5px;
         display: block;
    }
}

